@*Developed By:- Ranga Athapaththu
Developed On:- 2022/09/26*@

@model PMS.Models.AspNetUsers

@{
    ViewBag.Title = "AddOrEditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2 mb-0">
    <div class="col-12">
        <ol class="breadcrumb ml-2 mr-2 pt-2 pb-0 mb-2" id="breadCrumbWrapper">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "SA")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("ManageUsers", "SA")">Manage Users</a></li>
        </ol>
    </div>
</div>
<hr class="ml-2 mr-2 mt-0 mb-2" />
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800" id="aeUsersMainTitle"></h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" id="aeUsersCardTitle"></h6>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("AddOrEditUser", "SA", FormMethod.Post, new { onsubmit = "return SubmitUsersForm(this)", @id = "usersForm", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <div class="form-group row">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.EmployeeNumber, "Employee Number: ", new { @class = "required" })
                    </div>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.EmployeeNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Employee Number", @id = "employeeNumber", oninput = "onEmployeeNumberInput()" } })
                        @Html.ValidationMessageFor(model => model.EmployeeNumber)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.EmployeeTitle, "Employee Title: ", new { @class = "required" })
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(model => model.EmployeeTitle, (IEnumerable<SelectListItem>)ViewBag.titleList, new { @class = "form-control", @id = "titleList", onchange = "onTitleChange(this.value)" })
                        @Html.ValidationMessageFor(model => model.EmployeeTitle)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.FirstName, "First Name: ", new { @class = "required" })
                    </div>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name", @id = "firstName", oninput = "onFirstNameInput()" } })
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.LastName, "Last Name: ", new { @class = "required" })
                    </div>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name", @id = "lastName", oninput = "onLastNameInput()" } })
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.Email, "Email: ", new { @class = "required" })
                    </div>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @id = "userEmail", oninput = "onUserEmailInput()" } })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.PhoneNumber, "Contact Number: ")
                    </div>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contact Number", @id = "contactNumber", oninput = "onContactNumberInput()" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.IsAcademicUser, "Is Academic User: ")
                    </div>
                    <div class="col-sm-9">
                        <div class="form-check custom-control custom-switch">
                            @Html.EditorFor(model => model.IsAcademicUser, new { htmlAttributes = new { @class = "custom-control-input", @id = "isAcademicUser", onchange = "onIsAcademicUserChange()" } })
                            <label class="custom-control-label" for="isAcademicUser">Yes</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.FacultyId, "Faculty: ")
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(model => model.FacultyId, (IEnumerable<SelectListItem>)ViewBag.facultyList, new { @class = "form-control", @id = "facultyList", onchange = "onFacultyChange(this.value)" })
                        @Html.ValidationMessageFor(model => model.FacultyId)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.IsActive, "Status: ")
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(model => model.IsActive, new List<SelectListItem>
                        {
                            new SelectListItem{ Text = "Active", Value = "true" },
                            new SelectListItem{ Text = "Inactive", Value = "false" }
                        }, new { @class = "form-control", @id = "userStatusList", onchange = "onUserStatusChange(this.value)" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" id="userSubmitBtn">Save</button>
                    <button class="btn btn-light" type="button" id="userClearBtn" onclick="clearUserForm()">Clear Changes</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script>
        var operation;

        $(function () {
            $("#titleList").select2({
                theme: "bootstrap4",
                placeholder: {
                    id: '',
                    text: "-- Select User Title --"
                }
            });

            $("#facultyList").select2({
                theme: "bootstrap4"
            });
        });

        $(document).ready(function () {
            operation = window.location.pathname.toString().split('/')[4];

            var isAcademicUser = $("#isAcademicUser").prop("checked");

            if (isAcademicUser == true) {
                $("#facultyList").prop("disabled", false);
            }
            else {
                $("#facultyList").prop("disabled", true);
            }

            if (operation != undefined) {
                $("#userSubmitBtn").prop("disabled", true);
                $("#userClearBtn").prop("disabled", true);
                if (operation == "Edit") {
                    $("#aeUsersMainTitle").html("Edit User");
                    $("#aeUsersCardTitle").html("Edit User");
                    $("#breadCrumbWrapper").append(`<li class="breadcrumb-item active">Edit User</li>`);
                }
                else {
                    $("#aeUsersMainTitle").html("View User");
                    $("#aeUsersCardTitle").html("View User");
                    $("#breadCrumbWrapper").append(`<li class="breadcrumb-item active">View User</li>`);
                    $("#employeeNumber").prop("disabled", true);
                    $("#titleList").prop("disabled", true);
                    $("#firstName").prop("disabled", true);
                    $("#lastName").prop("disabled", true);
                    $("#userEmail").prop("disabled", true);
                    $("#contactNumber").prop("disabled", true);
                    $("#isAcademicUser").prop("disabled", true);
                    $("#facultyList").prop("disabled", true);
                    $("#userStatusList").prop("disabled", true);
                }
            }
            else {
                $("#aeUsersMainTitle").html("Add User");
                $("#aeUsersCardTitle").html("Add User");
                $("#breadCrumbWrapper").append(`<li class="breadcrumb-item active">Add User</li>`);
                $("#employeeNumber").val("");
                $("#firstName").val("");
                $("#lastName").val("");
                $("#userEmail").val("");
                $("#contactNumber").val("");
                $("#userStatusList").val("true");
                $("#isAcademicUser").prop("checked", false);
                $("#titleList").val(null).change();
                $("#facultyList").val(null).change();
            }
        })

        function SubmitUsersForm(form) {
            $(form).removeData("validator");
            $(form).removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(form);

            if ($(form).valid()) {
                $("#loader").show();
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        $("#loader").hide();
                        if (data.success) {
                            if (operation == undefined) {
                                $("#employeeNumber").val("");
                                $("#firstName").val("");
                                $("#lastName").val("");
                                $("#userEmail").val("");
                                $("#contactNumber").val("");
                                $("#userStatusList").val("true");
                                $("#titleList").val(null).change();
                                $("#isAcademicUser").prop("checked", false);
                                $("#facultyList").val(null).change();
                                $("#facultyList").prop("disabled", true);
                            }

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                        else {
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "error"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function clearUserForm() {
            if (operation == undefined) {
                $("#employeeNumber").val("");
                $("#firstName").val("");
                $("#lastName").val("");
                $("#userEmail").val("");
                $("#contactNumber").val("");
                $("#userStatusList").val("true");
                $("#titleList").val(null).change();
                $("#isAcademicUser").prop("checked", false);
                $("#facultyList").val(null).change();
                $("#facultyList").prop("disabled", true);
            }
            else {
                window.location.reload();
            }
        }

        function onEmployeeNumberInput() {
            $("#userSubmitBtn").prop("disabled", false);
            $("#userClearBtn").prop("disabled", false);
        }

        function onTitleChange(newTitle) {
            $("#userSubmitBtn").prop("disabled", false);
            $("#userClearBtn").prop("disabled", false);
        }

        function onFirstNameInput() {
            $("#userSubmitBtn").prop("disabled", false);
            $("#userClearBtn").prop("disabled", false);
        }

        function onLastNameInput() {
            $("#userSubmitBtn").prop("disabled", false);
            $("#userClearBtn").prop("disabled", false);
        }

        function onUserEmailInput() {
            $("#userSubmitBtn").prop("disabled", false);
            $("#userClearBtn").prop("disabled", false);
        }

        function onContactNumberInput() {
            $("#userSubmitBtn").prop("disabled", false);
            $("#userClearBtn").prop("disabled", false);
        }

        function onIsAcademicUserChange() {
            var newIsAcademicUser = $("#isAcademicUser").prop("checked");

            if (newIsAcademicUser == true) {
                $("#facultyList").prop("disabled", false);
            }
            else {
                $("#facultyList").val(null).change();
                $("#facultyList").prop("disabled", true);
            }

            $("#userSubmitBtn").prop("disabled", false);
            $("#userClearBtn").prop("disabled", false);
        }

        function onFacultyChange(newFaculty) {
            $("#userSubmitBtn").prop("disabled", false);
            $("#userClearBtn").prop("disabled", false);
        }

        function onUserStatusChange(newStatus) {
            $("#userSubmitBtn").prop("disabled", false);
            $("#userClearBtn").prop("disabled", false);
        }
    </script>
}