@*Developed By:- Dulanjalee Wickremasinghe
Developed On:- 2022/08/18
Modified By:- Ranga Athapaththu
Modified On:- 2022/08/22*@

@model PMS.Models.LectureType

@{
    ViewBag.Title = "AddOrEditLectureType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2 mb-0">
    <div class="col-12">
        <ol class="breadcrumb ml-2 mr-2 pt-2 pb-0 mb-2" id="breadCrumbWrapper">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "SA")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("ManageLectureTypes", "SA")">Manage Lecture Types</a></li>
        </ol>
    </div>
</div>
<hr class="ml-2 mr-2 mt-0 mb-2" />
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800" id="aeLectureTypeMainTitle"></h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" id="aeLectureTypeCardTitle"></h6>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("AddOrEditLectureType", "SA", FormMethod.Post, new { onsubmit = "return SubmitLectureTypeForm(this)", @id = "LectureTypeForm", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.LectureTypeId)

                <div class="form-group row">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.LectureTypeName, "Lecture Type : ", new { @class = "required" })
                    </div>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.LectureTypeName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Lecture Type", @id = "lectureTypeName", oninput = "onLectureTypeNameInput()" } })
                        @Html.ValidationMessageFor(model => model.LectureTypeName)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.IsActive, "Status: ")
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(model => model.IsActive, new List<SelectListItem>
                        {
                            new SelectListItem{ Text = "Active", Value = "true" },
                            new SelectListItem{ Text = "Inactive", Value = "false" }
                        }, new { @class = "form-control", @id = "lectureTypeStatusList", onchange = "onLectureTypeStatusChange(this.value)" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" id="lectureTypeSubmitBtn">Save</button>
                    <button class="btn btn-light" type="button" id="lectureTypeClearBtn" onclick="clearLectureTypeForm()">Clear Changes</button>
                </div>
            }
        </div>
    </div>
</div>
@section scripts {
    <script>
        $("#loader").hide();
        var operation;

        $(document).ready(function () {
            operation = window.location.pathname.toString().split('/')[4];

            if (operation != undefined) {
                $("#lectureTypeSubmitBtn").prop("disabled", true);
                $("#lectureTypeClearBtn").prop("disabled", true);
                if (operation == "Edit") {
                    $("#aeLectureTypeMainTitle").html("Edit Lecture Type");
                    $("#aeLectureTypeCardTitle").html("Edit Lecture Type");
                    $("#breadCrumbWrapper").append(`<li class="breadcrumb-item active">Edit Lecture Type</li>`);
                }
                else {
                    $("#aeLectureTypeMainTitle").html("View Lecture Type");
                    $("#aeLectureTypeCardTitle").html("View Lecture Type");
                    $("#breadCrumbWrapper").append(`<li class="breadcrumb-item active">View Lecture Type</li>`);
                    $("#lectureTypeName").prop("disabled", true);
                    $("#lectureTypeStatusList").prop("disabled", true);
                }
            }
            else {
                $("#aeLectureTypeMainTitle").html("Add Lecture Type");
                $("#aeLectureTypeCardTitle").html("Add Lecture Type");
                $("#breadCrumbWrapper").append(`<li class="breadcrumb-item active">Add Lecture Type</li>`);
                $("#lectureTypeStatusList").val("true");
            }
        })

        function SubmitLectureTypeForm(form) {
            $(form).removeData("validator");
            $(form).removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(form);

            if ($(form).valid()) {
                $("#loader").show();
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        $("#loader").hide();
                        if (data.success) {
                            if (operation == undefined) {
                                $("#lectureTypeName").val("");
                                $("#lectureTypeStatusList").val("true");
                            }

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                        else {
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "error"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function clearLectureTypeForm() {
            if (operation == undefined) {
                $("#lectureTypeName").val("");
                $("#lectureTypeStatusList").val("true");
            }
            else {
                window.location.reload();
            }
        }

        function onLectureTypeNameInput() {
            $("#lectureTypeSubmitBtn").prop("disabled", false);
            $("#lectureTypeClearBtn").prop("disabled", false);
        }

        function onLectureTypeStatusChange(newStatus) {
            $("#lectureTypeSubmitBtn").prop("disabled", false);
            $("#lectureTypeClearBtn").prop("disabled", false);
        }
    </script>
}