@*Developed By:- Ranga Athapaththu
Developed On:- 2022/08/19*@

@model PMS.Models.Department

@{
    ViewBag.Title = "AddOrEditDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2 mb-0">
    <div class="col-12">
        <ol class="breadcrumb ml-2 mr-2 pt-2 pb-0 mb-2" id="breadCrumbWrapper">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "SA")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("ManageDepartments", "SA")">Manage Departments</a></li>
        </ol>
    </div>
</div>
<hr class="ml-2 mr-2 mt-0 mb-2" />
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800" id="aeDepartmentMainTitle"></h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" id="aeDepartmentCardTitle"></h6>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("AddOrEditDepartment", "SA", FormMethod.Post, new { onsubmit = "return SubmitDepartmentForm(this)", @id = "departmentForm", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.DepartmentId)
                <div class="form-group row">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.DepartmentCode, "Department Code: ", new { @class = "required" })
                    </div>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.DepartmentCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Department Code", @id = "departmentCode", oninput = "onDepartmentCodeInput()" } })
                        @Html.ValidationMessageFor(model => model.DepartmentCode)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.DepartmentName, "Department Name: ", new { @class = "required" })
                    </div>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Department Name", @id = "departmentName", oninput = "onDepartmentNameInput()" } })
                        @Html.ValidationMessageFor(model => model.DepartmentName)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.HOD, "Head Of Department: ", new { @class = "required" })
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(model => model.HOD, (IEnumerable<SelectListItem>)ViewBag.usersList, new { @class = "form-control", @id = "usersList", onchange = "onHODChange(this.value)" })
                        @Html.ValidationMessageFor(model => model.HOD)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.FacultyId, "Faculty: ", new { @class = "required" })
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(model => model.FacultyId, (IEnumerable<SelectListItem>)ViewBag.facultyList, new { @class = "form-control", @id = "facultyList", onchange = "onFacultyChange(this.value)" })
                        @Html.ValidationMessageFor(model => model.FacultyId)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.IsActive, "Status: ")
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(model => model.IsActive, new List<SelectListItem>
                        {
                            new SelectListItem{ Text = "Active", Value = "true" },
                            new SelectListItem{ Text = "Inactive", Value = "false" }
                        }, new { @class = "form-control", @id = "departmentStatusList", onchange = "onDepartmentStatusChange(this.value)" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" id="departmentSubmitBtn">Save</button>
                    <button class="btn btn-light" type="button" id="departmentClearBtn" onclick="clearDepartmentForm()">Clear Changes</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script>
        var operation;

        $(function () {
            $("#usersList").select2({
                theme: "bootstrap4"
            });

            $("#facultyList").select2({
                theme: "bootstrap4"
            });
        });

        $(document).ready(function () {
            operation = window.location.pathname.toString().split('/')[4];

            if (operation != undefined) {
                $("#departmentSubmitBtn").prop("disabled", true);
                $("#departmentClearBtn").prop("disabled", true);
                if (operation == "Edit") {
                    $("#aeDepartmentMainTitle").html("Edit Department");
                    $("#aeDepartmentCardTitle").html("Edit Department");
                    $("#breadCrumbWrapper").append(`<li class="breadcrumb-item active">Edit Department</li>`);
                }
                else {
                    $("#aeDepartmentMainTitle").html("View Department");
                    $("#aeDepartmentCardTitle").html("View Department");
                    $("#breadCrumbWrapper").append(`<li class="breadcrumb-item active">View Department</li>`);
                    $("#departmentCode").prop("disabled", true);
                    $("#departmentName").prop("disabled", true);
                    $("#usersList").prop("disabled", true);
                    $("#facultyList").prop("disabled", true);
                    $("#departmentStatusList").prop("disabled", true);
                }
            }
            else {
                $("#aeDepartmentMainTitle").html("Add Department");
                $("#aeDepartmentCardTitle").html("Add Department");
                $("#breadCrumbWrapper").append(`<li class="breadcrumb-item active">Add Department</li>`);
                $("#departmentStatusList").val("true");
                $("#usersList").val(null).change();
                $("#facultyList").val(null).change();
            }
        })

        function SubmitDepartmentForm(form) {
            $(form).removeData("validator");
            $(form).removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(form);

            if ($(form).valid()) {
                $("#loader").show();
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        $("#loader").hide();
                        if (data.success) {
                            if (operation == undefined) {
                                $("#departmentCode").val("");
                                $("#departmentName").val("");
                                $("#departmentStatusList").val("true");
                                $("#usersList").val(null).change();
                                $("#facultyList").val(null).change();
                            }

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                        else {
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "error"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function clearDepartmentForm() {
            if (operation == undefined) {
                $("#departmentCode").val("");
                $("#departmentName").val("");
                $("#departmentStatusList").val("true");
                $("#usersList").val(null).change();
                $("#facultyList").val(null).change();
            }
            else {
                window.location.reload();
            }
        }

        function onDepartmentCodeInput() {
            $("#departmentSubmitBtn").prop("disabled", false);
            $("#departmentClearBtn").prop("disabled", false);
        }

        function onDepartmentNameInput() {
            $("#departmentSubmitBtn").prop("disabled", false);
            $("#departmentClearBtn").prop("disabled", false);
        }

        function onHODChange(newHOD) {
            $("#departmentSubmitBtn").prop("disabled", false);
            $("#departmentClearBtn").prop("disabled", false);
        }

        function onFacultyChange(newFaculty) {
            $("#departmentSubmitBtn").prop("disabled", false);
            $("#departmentClearBtn").prop("disabled", false);
        }

        function onDepartmentStatusChange(newStatus) {
            $("#departmentSubmitBtn").prop("disabled", false);
            $("#departmentClearBtn").prop("disabled", false);
        }
    </script>
}