@*Developed By:- Ranga Athapaththu
    Developed On:- 2022/10/06*@

@{
    ViewBag.Title = "ManageSubWorkflow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2 mb-0">
    <div class="col-12">
        <ol class="breadcrumb ml-2 mr-2 pt-2 pb-0 mb-2">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "SA")">Home</a></li>
            <li class="breadcrumb-item active">Manage Workflow</li>
        </ol>
    </div>
</div>
<hr class="ml-2 mr-2 mt-0 mb-2" />
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Manage Workflow</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Workflow</h6>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-outline-success btn-sm mb-3" onclick="NavigateWorkflowForm('@Url.Action("AddOrEditSubWorkflow", "SA")', 'Add')"><i class="fa fa-plus"></i> Add New</button>
            <button type="button" class="btn btn-sm btn-outline-primary float-right" onclick="OpenWorkflowMap('@Url.Action("ViewWorkFlowMap", "SA")')"><i class="fa fa-eye"></i> View Workflow Map</button>
            <div class="table-responsive">
                <table id="workflowTbl" class="table table-bordered data-table nowrap" style="width: 100%;"></table>
            </div>
            @*<div id="steps">
                    <div class="step active" data-desc="Listing information">1</div>
                    <div class="step active" data-desc="Photos & Details">2000</div>
                    <div class="step active" data-desc="Review & Post">3</div>
                    <div class="step active" data-desc="Your order">4</div>
                    <div class="step active" data-desc="Listing information">1</div>
                    <div class="step active" data-desc="Photos & Details">2</div>
                    <div class="step active" data-desc="Review & Post">3</div>
                    <div class="step active" data-desc="Your order">4</div>
                    <div class="step active" data-desc="Listing information">1</div>
                    <div class="step active" data-desc="Photos & Details">2</div>
                    <div class="step active" data-desc="Review & Post">3</div>
                    <div class="step active" data-desc="Your order">4</div>
                    <div class="step active" data-desc="Listing information">1</div>
                    <div class="step active" data-desc="Photos & Details">2</div>
                    <div class="step active" data-desc="Review & Post">3</div>
                    <div class="step active" data-desc="Your order">4</div>
                </div>*@
        </div>
    </div>

    <div class="modal fade" id="workflowMapModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="workflowMapModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="workflowMapModalLabel">Workflow Map</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="workflowMapModalBody">
                    <div id="steps" class="text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        //$(document).ready( function() {
        //  $('.step').each(function(index, element) {
        //    // element == this
        //    $(element).not('.active').addClass('done');
        //    $('.done').html('<i class="icon-ok"></i>');
        //    if($(this).is('.active')) {
        //      return false;
        //    }
        //  });
        //});
        var workflowTbl;

        workflowTbl = $("#workflowTbl").DataTable({
            "responsive": true,
            "scrollY": "30vh",
            "scrollX": true,
            "scroller": true,
            "order": [],
            "ajax": {
                "url": "@Url.Action("GetSubWorkflows", "SA")",
                "type": "GET",
                "dataType": "json"
            },
            "columns": [
                {
                    "title": "",
                    "data": "Id",
                    "render": function (data) {
                        return `<div class='dropdown dropright'>`
                            + `<a class='btn btn-sm' href='#' role='button' id='dropdownMenuLink' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>`
                            + `<i class='fa fa-ellipsis-v' aria-hidden='true'></i></a>`
                            + `<div class='dropdown-menu' aria-labelledby='dropdownMenuLink'>`
                            + `<a class='dropdown-item btn' onclick="NavigateWorkflowForm('@Url.Action("AddOrEditSubWorkflow", "SA")/` + data + `', 'View')">View Workflow</a>`
                            + `<a class='dropdown-item btn' onclick="NavigateWorkflowForm('@Url.Action("AddOrEditSubWorkflow", "SA")/` + data + `', 'Edit')">Edit Workflow</a></div></div>`;
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "20px"
                },
                {
                    "title": "Workflow Role",
                    "data": "WorkflowRole"
                },
                {
                    "title": "Workflow Step / Position",
                    "data": "WorkflowStep"
                },
                {
                    "title": "For Specific User",
                    "data": "IsSpecificUser",
                    "render": function (data) {
                        if (data == true) {
                            return 'Yes';
                        }
                        else {
                            return 'No';
                        }
                    }
                },
                {
                    "title": "Workflow User",
                    "data": "WorkflowUser",
                    "render": function (data) {
                        if (data == null) {
                            return "N/A";
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "title": "Status",
                    "data": "IsActive",
                    "render": function (data) {
                        if (data == true) {
                            return 'Active';
                        }
                        else {
                            return 'Inactive';
                        }
                    }
                }
            ],
            "language": {
                "emptyTable": "No Workflow Items Found!"
            }
        })

        function NavigateWorkflowForm(url, action) {
            if (action == "Add") {
                window.location.href = url;
            }
            else if (action == "Edit") {
                window.location.href = url + "/Edit";
            }
            else {
                window.location.href = url + "/View";
            }
        }

        function OpenWorkflowMap(url) {
            $.get(url)
                .done(function (response) {
                    $("#steps").html("");
                    var dynamicContent = ``;

                    if (response.length != 0) {
                        for (var i = 0; i < response.length; i++) {
                            dynamicContent = dynamicContent + `<div class="step active" data-desc="` + response[i].WorkflowMapRoles + `">` + response[i].WorkflowStep + `</div>`;
                        }
                    }
                    else {
                        dynamicContent = dynamicContent + `<h5> -- No Workflow Items Found -- </h5>`;
                    }

                    $("#steps").html(dynamicContent);
                    $("#workflowMapModal").modal("show");
                });
        }
    </script>
}