@*Developed By:- Ranga Athapaththu
Developed On:- 2022/08/25*@

@{
    ViewBag.Title = "ManageAppointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2 mb-0">
    <div class="col-12">
        <ol class="breadcrumb ml-2 mr-2 pt-2 pb-0 mb-2">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "SA")">Home</a></li>
            <li class="breadcrumb-item active">Manage Appointments</li>
        </ol>
    </div>
</div>
<hr class="ml-2 mr-2 mt-0 mb-2" />
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Manage Appointments</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Appointments</h6>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-outline-success btn-sm mb-3" onclick="NavigateAppointmentForm('@Url.Action("AddOrEditAppointment", "SA")', 'Add')"><i class="fa fa-plus"></i> Add New</button>
            <div class="table-responsive">
                <table id="appointmentTbl" class="table table-bordered data-table nowrap"></table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var appointmentTbl;

        appointmentTbl = $("#appointmentTbl").DataTable({
            "responsive": true,
            "scrollY": "30vh",
            "scroller": true,
            "order": [],
            "ajax": {
                "url": "@Url.Action("GetAppointments", "SA")",
                "type": "GET",
                "dataType": "json"
            },
            "columns": [
                {
                    "title": "",
                    "data": "AppointmentId",
                    "render": function (data) {
                        return `<div class='dropdown dropright'>`
                                + `<a class='btn btn-sm' href='#' role='button' id='dropdownMenuLink' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>`
                                + `<i class='fa fa-ellipsis-v' aria-hidden='true'></i></a>`
                                + `<div class='dropdown-menu' aria-labelledby='dropdownMenuLink'>`
                                + `<a class='dropdown-item btn' onclick="NavigateAppointmentForm('@Url.Action("AddOrEditAppointment", "SA")/` + data + `', 'View')">View Appointment</a>`
                                + `<a class='dropdown-item btn' onclick="NavigateAppointmentForm('@Url.Action("AddOrEditAppointment", "SA")/` + data + `', 'Edit')">Edit Appointment</a></div></div>`
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "20px"
                },
                {
                    "title": "Employee Name",
                    "data": "EmployeeName"
                },
                {
                    "title": "Designation",
                    "data": "DesignationName"
                },
                {
                    "title": "Appointment Type",
                    "data": "AppointmentTypeName"
                },
                {
                    "title": "Appoint From",
                    "data": "AppointmentFrom",
                    "render": function (data) {
                        if (data == "") {
                            return "N/A";
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "title": "Appoint To",
                    "data": "AppointmentTo",
                    "render": function (data) {
                        if (data == null) {
                            return "N/A";
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "title": "Status",
                    "data": "IsActive",
                    "render": function (data) {
                        if (data == true) {
                            return 'Active';
                        }
                        else {
                            return 'Inactive';
                        }
                    }
                }
            ],
            "language": {
                "emptyTable": "No Appointments Found!"
            }
        })

        function NavigateAppointmentForm(url, action) {
            if (action == "Add") {
                window.location.href = url;
            }
            else if (action == "Edit") {
                window.location.href = url + "/Edit";
            }
            else {
                window.location.href = url + "/View";
            }
        }
    </script>
}