@*Developed By:- Ranga Athapaththu
    Developed On:- 2022/11/14*@

@model PMS.Custom_Classes.ReportsCC

@{
    ViewBag.Title = "ManageEmlployeePaymentReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2 mb-0">
    <div class="col-12">
        <ol class="breadcrumb ml-2 mr-2 pt-2 pb-0 mb-2">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "SA")">Home</a></li>
            <li class="breadcrumb-item active">Manage Employee Payment Reports</li>
        </ol>
    </div>
</div>
<hr class="ml-2 mr-2 mt-0 mb-2" />
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Manage Employee Payment Reports</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Employee Payment Reports</h6>
        </div>
        <div class="card-body">
            @*@if (PMS.Custom_Classes.CustomExtensions.IsAuthenticated(User.Identity.GetUserName(), new string[] { "/SA/AddOrEditInstitute/Add" }))
                {
                    <button type="button" class="btn btn-outline-success btn-sm mb-3" onclick="NavigateInstituteForm('@Url.Action("AddOrEditInstitute", "SA")', 'Add')"><i class="fa fa-plus"></i> Add New</button>
                }*@
            @using (Html.BeginForm("GetEmployeePaymentReports", "SA", FormMethod.Post, new { onsubmit = "return SubmitEmployeePaymentReportsForm(this)", @id = "employeePaymentReportForm", autocomplete = "off" }))
            {
                <div class="form-group row">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
                        @Html.DropDownListFor(model => model.LecturerId, (IEnumerable<SelectListItem>)ViewBag.usersList, new { @class = "form-control", @id = "usersList" })
                        @Html.ValidationMessageFor(model => model.LecturerId)
                    </div>
                    <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 repFormInputs">
                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @id = "employeePaymentReportStartDate", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.StartDate)
                    </div>
                    <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 repFormInputs">
                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @id = "employeePaymentReportEndDate", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.EndDate)
                    </div>
                    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 repFormInputs">
                        <button class="btn btn-primary" type="submit" id="generateReportBtn">Generate Report</button>
                        <button class="btn btn-light ml-2" type="button" id="clearBtn" onclick="clearEmployeePaymentReportForm()">Clear</button>
                    </div>
                </div>
            }
            <div class="table-responsive">
                <table id="employeePaymentReportsTbl" class="table table-bordered data-table nowrap" style="width: 100%;"></table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var employeePaymentReportsTbl;
        var employeePaymentReportsTableInitiated = false;

        $(function () {
            $("#usersList").select2({
                theme: "bootstrap4",
                placeholder: {
                    id: '',
                    text: "-- Select Employee --"
                }
            });
        });

        function SubmitEmployeePaymentReportsForm(form) {
            $(form).removeData("validator");
            $(form).removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse(form);

            var isValid = false;

            if ($(form).valid()) {
                var employeePaymentReportStartDate = new Date($("#employeePaymentReportStartDate").val());
                var employeePaymentReportEndDate = new Date($("#employeePaymentReportEndDate").val());

                if (employeePaymentReportStartDate > employeePaymentReportEndDate) {
                    isValid = false;
                    alert("Start Date should be greater than or equal to End Date");
                }
                else {
                    isValid = true;
                }

                if (isValid == true) {
                    postSearchParameters = {
                        LecturerId: $("#usersList :selected").val(),
                        StartDate: $("#employeePaymentReportStartDate").val(),
                        EndDate: $("#employeePaymentReportEndDate").val()
                    }
                    onEmployeePaymentReportView();
                }
            }
            return false;
        }

        function clearEmployeePaymentReportForm() {
            $("#employeePaymentReportForm").find("input").val("");
            $("#usersList").val(null).change();
        }

        function onEmployeePaymentReportView() {
            if (employeePaymentReportsTableInitiated == true) {
                $("#employeePaymentReportsTbl").DataTable().destroy();
            }

            var downloadFileName = "";

            if (postSearchParameters.LecturerId != "All") {
                downloadFileName = "Employee Payment Report for " + $("#usersList :selected").text() + " From " + $("#employeePaymentReportStartDate").val() + " To " + $("#employeePaymentReportEndDate").val();
            }
            else {
                downloadFileName = "Employee Payment Report for All Employees From " + $("#employeePaymentReportStartDate").val() + " To " + $("#employeePaymentReportEndDate").val();
            }

            employeePaymentReportsTbl = $("#employeePaymentReportsTbl").DataTable({
                "dom": "<'row'<'col-12 col-xs-6 col-sm-6 col-xs-12 col-md-3 col-lg-3 col-xl-3'l><'col-12 col-xs-6 col-sm-6 col-xs-12 col-md-4 col-lg-4 col-xl-4'B><'col-12 col-xs-6 col-sm-6 col-xs-12 col-md-5 col-lg-5 col-xl-5'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                "buttons": {
                    "buttons": [
                        {
                            extend: 'csv',
                            text: '<i class="fa fa-download"></i> CSV Download',
                            title: downloadFileName,
                            className: 'btn btn-sm btn-outline-success'
                        },
                        {
                            extend: 'excel',
                            text: '<i class="fa fa-download"></i> Excel Download',
                            title: downloadFileName,
                            className: 'btn btn-sm btn-outline-success'
                        },
                        {
                            extend: 'print',
                            text: '<i class="fa fa-print"></i> Print',
                            title: downloadFileName,
                            className: 'btn btn-sm btn-outline-success'
                        }
                    ],
                    "dom": {
                        "button": {
                            className: 'btn'
                        }
                    }
                },
                "scrollY": "30vh",
                "scrollX": true,
                "scroller": true,
                "order": [],
                "ajax": {
                    "url": "@Url.Action("GetEmployeePaymentReports", "SA")",
                    "type": "POST",
                    "data": postSearchParameters
                },
                "columns": [
                    {
                        "title": "Lecturer / Instructor",
                        "data": "timetableRecords.LecturerName"
                    },
                    {
                        "title": "Subject",
                        "data": "timetableRecords.SubjectName"
                    },
                    {
                        "title": "Lecture Type",
                        "data": "timetableRecords.LectureTypeName"
                    },
                    {
                        "title": "Payment Amount",
                        "data": "PaymentAmount"
                    },
                    {
                        "title": "Current Stage",
                        "data": "CurrentStageDisplayName",
                        "render": function (data) {
                            if (data == null) {
                                return "N/A";
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "title": "Actual Lecture Date",
                        "data": "ActualLectureDate",
                        "render": function (data) {
                            if (data == null) {
                                return "N/A";
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "title": "Actual Lecture Start Time",
                        "data": "ActualFromTime",
                        "render": function (data) {
                            if (data == null) {
                                return "N/A";
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "title": "Actual Lecture End Time",
                        "data": "ActualToTime",
                        "render": function (data) {
                            if (data == null) {
                                return "N/A";
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "title": "Timetable Lecture Date",
                        "data": "timetableRecords.LectureDate",
                        "render": function (data) {
                            if (data == null) {
                                return "N/A";
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "title": "Timetable Lecture Start Time",
                        "data": "timetableRecords.FromTime",
                        "render": function (data) {
                            if (data == null) {
                                return "N/A";
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "title": "Timetable Lecture End Time",
                        "data": "timetableRecords.ToTime",
                        "render": function (data) {
                            if (data == null) {
                                return "N/A";
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "title": "Lecturer / Instructor Comment",
                        "data": "Comment",
                        "render": function (data) {
                            if (data == null) {
                                return "N/A";
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "title": "Approval / Rejection Remark",
                        "data": "ApprovedOrRejectedRemark",
                        "render": function (data) {
                            if (data == null) {
                                return "N/A";
                            }
                            else {
                                return data;
                            }
                        }
                    },
                ],
                "language": {
                    "emptyTable": "No Data Found!"
                }
            });

            if (postSearchParameters.LecturerId != "All") {
                employeePaymentReportsTbl.column(0).visible(false);
            }
            else {
                employeePaymentReportsTbl.column(0).visible(true);
            }

            employeePaymentReportsTbl.columns.adjust();
            employeePaymentReportsTableInitiated = true;
        }
    </script>
}