@*Developed By:- Ranga Athapaththu
    Developed On:- 2022/08/17*@
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "ManageInstitutes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2 mb-0">
    <div class="col-12">
        <ol class="breadcrumb ml-2 mr-2 pt-2 pb-0 mb-2">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "SA")">Home</a></li>
            <li class="breadcrumb-item active">Manage Institutes</li>
        </ol>
    </div>
</div>
<hr class="ml-2 mr-2 mt-0 mb-2" />
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Manage Institutes</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Institutes</h6>
        </div>
        <div class="card-body">
            @*@if (PMS.Custom_Classes.CustomExtensions.IsAuthenticated(User.Identity.GetUserName(), new string[] { "/SA/AddOrEditInstitute/Add" }))
            {
                <button type="button" class="btn btn-outline-success btn-sm mb-3" onclick="NavigateInstituteForm('@Url.Action("AddOrEditInstitute", "SA")', 'Add')"><i class="fa fa-plus"></i> Add New</button>
            }*@
            <button type="button" class="btn btn-outline-success btn-sm mb-3" onclick="NavigateInstituteForm('@Url.Action("AddOrEditInstitute", "SA")', 'Add')"><i class="fa fa-plus"></i> Add New</button>
            <div class="table-responsive">
                <table id="instituteTbl" class="table table-bordered data-table nowrap" style="width: 100%;"></table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var instituteTbl;

        instituteTbl = $("#instituteTbl").DataTable({
            "responsive": true,
            "scrollY": "30vh",
            "scrollX": true,
            "scroller": true,
            "order": [],
            "ajax": {
                "url": "@Url.Action("GetInstitutes", "SA")",
                "type": "GET",
                "dataType": "json"
            },
            "columns": [
                {
                    "title": "",
                    "data": "InstituteId",
                    "render": function (data) {
                        return `<div class='dropdown dropright'>`
                                + `<a class='btn btn-sm' href='#' role='button' id='dropdownMenuLink' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>`
                                + `<i class='fa fa-ellipsis-v' aria-hidden='true'></i></a>`
                                + `<div class='dropdown-menu' aria-labelledby='dropdownMenuLink'>`
                                + `<a class='dropdown-item btn' onclick="NavigateInstituteForm('@Url.Action("AddOrEditInstitute", "SA")/` + data + `', 'View')">View Institute</a>`
                                + `<a class='dropdown-item btn' onclick="NavigateInstituteForm('@Url.Action("AddOrEditInstitute", "SA")/` + data + `', 'Edit')">Edit Institute</a></div></div>`
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "20px"
                },
                {
                    "title": "Code",
                    "data": "InstituteCode"
                },
                {
                    "title": "Name",
                    "data": "InstituteName"
                },
                {
                    "title": "Status",
                    "data": "IsActive",
                    "render": function (data) {
                        if (data == true) {
                            return 'Active';
                        }
                        else {
                            return 'Inactive';
                        }
                    }
                }
            ],
            "language": {
                "emptyTable": "No Institutes Found!"
            }
        })

        function NavigateInstituteForm(url, action) {
            if (action == "Add") {
                window.location.href = url;
            }
            else if (action == "Edit") {
                window.location.href = url + "/Edit";
            }
            else {
                window.location.href = url + "/View";
            }
        }
    </script>
}