@*Developed By:- Ranga Athapaththu
    Developed On:- 2022/11/08*@

@{
    ViewBag.Title = "ManageLecturerMonthlyApprovals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2 mb-0">
    <div class="col-12">
        <ol class="breadcrumb ml-2 mr-2 pt-2 pb-0 mb-2">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "SA")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("ManageLectureApprovals", "SA")">Manage Lecture Approvals</a></li>
            <li class="breadcrumb-item active">Manage Lecturer Monthly Approvals</li>
        </ol>
    </div>
</div>
<hr class="ml-2 mr-2 mt-0 mb-2" />
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Manage Lecturer Monthly Approvals</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lecturer Monthly Approvals</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <label>Lecturer / Instructor Name: <span id="empNo" class="text-dark">@ViewBag.LecturerName</span></label>
                </div>
                <div class="col-6">
                    <label>Record Month: <span id="empName" class="text-dark">@ViewBag.RecordMonth</span></label>
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-outline-primary float-right mb-3" onclick="onSendToApprovalClick()"><i class="fa fa-check"></i> Approve</button>
            <button type="button" class="btn btn-sm btn-outline-danger float-right mr-2 mb-3" onclick="onRejectClick()"><i class="fa fa-times"></i> Reject</button>
            <div class="table-responsive">
                <table id="lectureApprovalTbl" class="table table-bordered data-table nowrap" style="width: 100%;"></table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="lectureTimetableModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Conducted Lecture vs Timetable Comparison</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-labelledby="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center mb-1">
                        <label class="mr-4">Subject: </label>
                        <label class="text-dark" id="subjectLabel"></label>
                    </div>
                    <div class="text-center mb-3">
                        <label class="mr-4">Lecture Type: </label>
                        <label class="text-dark" id="lectureTypeLabel"></label>
                    </div>
                    <div class="row">
                        <div class="col-6" id="actualRecordDiv">
                            <div class="card shadow mb-4">
                                <div class="card-header">
                                    <h6 class="m-0 font-weight-bold text-primary">Conducted Lecture Details</h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>Lecture Date: </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="text-dark" id="actualLectureDateLabel"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>Lecture Start Time (24 Hrs): </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="text-dark" id="actualStartTimeLabel"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>Lecture End Time (24 Hrs): </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="text-dark" id="actualEndTimeLabel"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>Location: </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="text-dark" id="actualLocationLabel"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>Student Batches: </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="text-dark" id="actualStudentBatchesLabel"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>Student Count: </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="text-dark" id="studentCountLabel"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>Student Attendance Sheet: </label>
                                        </div>
                                        <div class="col-sm-8" id="studentAttendanceSheetDiv">

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>Campus: </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="text-dark" id="campusLabel"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>Comment: </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="text-dark" id="commentLabel"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>Current Stage: </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="text-dark" id="currentStageLabel"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>Approval / Rejection Remark: </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="text-dark" id="approvalRejectionRemarkLabel"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6" id="timetableRecordDiv">
                            <div class="card shadow mb-4">
                                <div class="card-header">
                                    <h6 class="m-0 font-weight-bold text-primary">Timetable Record Details</h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>Lecture Date: </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="text-dark" id="timetableLectureDateLabel"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>Lecture Start Time (24 Hrs): </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="text-dark" id="timetableStartTimeLabel"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>Lecture End Time (24 Hrs): </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="text-dark" id="timetableEndTimeLabel"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>Location: </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="text-dark" id="timetableLocationLabel"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>Student Batches: </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <label class="text-dark" id="timetableStudentBatchesLabel"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sendToApprovalModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Send To Approval Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-labelledby="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want send selected lecture record(s) to approval?</p>
                    <p class="text-danger">This action cannot be undone once you click on 'Yes, Send'!</p>
                    <form>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label>Remark: </label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" id="approvalRemark" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" onclick="SendToApprovalConfirm()">Yes, Send</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="rejectLecturesModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lecture Record(s) Rejection Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-labelledby="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want reject selected lecture record(s)?</p>
                    <p class="text-danger">This action cannot be undone once you click on 'Yes, Send'!</p>
                    <form>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label>Remark: </label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" id="rejectionRemark" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" onclick="RejectLecturesConfirm()">Yes, Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script>
        var lectureApprovalTbl;
        var selectedCLRecordsList = [];
        var lecturerId = window.location.pathname.toString().split('/')[3];
        var recordMonth = window.location.pathname.toString().split('/')[4];

        lectureApprovalTbl = $("#lectureApprovalTbl").DataTable({
            "responsive": true,
            "scrollY": "30vh",
            "scrollX": true,
            "scroller": true,
            "order": [],
            'select': {
                'info': false,
                'style': 'multi',
                'selector': 'td:first-child'
            },
            "ajax": {
                "url": "@Url.Action("GetLecturerMonthlyRecords", "SA")/" + lecturerId + "/" + recordMonth,
                "type": "GET",
                "dataType": "json"
            },
            //'columnDefs': [
            //    {
            //        'targets': 0,
            //        //'render': function (data, type, row, meta) {
            //        //    data = '<input type="checkbox" class="dt-checkboxes">'
            //        //    if (row.canSendToApproval == false) {
            //        //        data = ''
            //        //    }

            //        //    return data;
            //        //},
            //        'createdCell': function (td, cellData, rowData, row, col) {
            //            //alert(cellData.CLId);
            //            if (rowData.CLId == 1010) {
            //                $(td).find('input:checkbox').prop('disabled', true);
            //                //this.api().cell(td).checkboxes.disable();
            //            }
            //        },
            //        //'createdRow': function (row, data, dataIndex) {
            //        //    if (!data.canSendToApproval) {
            //        //        $(row).find('input:checkbox').prop('disabled', true);
            //        //    }
            //        //},
            //        'checkboxes': {
            //            'selectRow': true
            //        }
            //    }
            //],
            "columns": [
                {
                    "data": null,
                    "defaultContent": '',
                    'createdCell': function (td, cellData, rowData, row, col) {
                        if (rowData.canSendToApproval == false || rowData.IsApprovedOrRejected == false) {
                            $(td).find('input:checkbox').remove();
                        }
                    },
                    'targets': 0,
                    'checkboxes': {
                        'selectRow': true
                    }
                },
                {
                    "title": "",
                    "data": null,
                    "render": function (data) {
                        var dynamicContent = `<div class='dropdown dropright'>`
                            + `<a class='btn btn-sm' href='#' role='button' id='dropdownMenuLink' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>`
                            + `<i class='fa fa-ellipsis-v' aria-hidden='true'></i></a>`
                            + `<div class='dropdown-menu' aria-labelledby='dropdownMenuLink'>`
                            + `<a class='dropdown-item btn' onclick='OpenTimetableComparisonForm(` + JSON.stringify(data) + `)'>View Conducted Lecture</a></div></div>`;

                        return dynamicContent;
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "20px"
                },
                {
                    "title": "Subject Name",
                    "data": null,
                    "render": function (data) {
                        return data.timetableRecords.SubjectName;
                    }
                },
                {
                    "title": "Lecture Conducted Date",
                    "data": "ActualLectureDate"
                },
                {
                    "title": "Lecture Started Time (24 Hrs)",
                    "data": "ActualFromTime"
                },
                {
                    "title": "Lecture Ended Time (24 Hrs)",
                    "data": "ActualToTime"
                },
                {
                    "title": "Payment Amount (Rs.)",
                    "data": "PaymentAmount",
                    "render": function (data) {
                        if (data == true) {
                            return "N/A";
                        }
                        else {
                            return parseFloat(data).toFixed(2);
                        }
                    }
                },
                {
                    "title": "Student Count",
                    "data": "StudentCount",
                    "render": function (data) {
                        if (data == null) {
                            return "N/A";
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "title": "Student Batches",
                    "data": "StudentBatches"
                },
                {
                    "title": "Student Attendance Sheet",
                    "data": "StudentAttendanceSheetLocation",
                    "render": function (data) {
                        if (data != null) {
                            return `<a href='javascript:OpenStudentAttendanceSheet(` + JSON.stringify(data) + `); '>View</a>`;
                        }
                        else {
                            return "N/A";
                        }
                    }
                },
                {
                    "title": "Location",
                    "data": "ActualLocation",
                    "render": function (data) {
                        if (data == null) {
                            return "N/A";
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "title": "Campus",
                    "data": "CampusName",
                    "render": function (data) {
                        if (data == null) {
                            return "N/A";
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "title": "Comment",
                    "data": "Comment",
                    "render": function (data) {
                        if (data == null) {
                            return "N/A";
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "title": "Approval / Rejection Remark",
                    "data": "ApprovedOrRejectedRemark",
                    "render": function (data) {
                        if (data == null) {
                            return "N/A";
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "title": "Current Stage",
                    "data": "CurrentStageDisplayName"
                }
            ],
            "language": {
                "emptyTable": "No Records Found!"
            }
            //language: {
            //    select: {
            //        rows: {
            //            _: "You have selected %d rows",
            //            0: "Click a row to select it",
            //            1: "Only 1 row selected"
            //        }
            //    }
            //}
            //'select': {
            //    'style': 'multi',
            //    'selector': 'td:first-child'
            //},
            //rowCallback: function (row, data) {
            //    // Set the checked state of the checkbox in the table
            //    if (data.canSendToApproval == false) {
            //        $('input.dt-checkboxes', row).prop('disabled', true);
            //    }
            //    //$('input.dt-checkboxes', row).prop('disabled', data.canSendToApproval == false);
            //}
        });

        //lectureApprovalTbl.on('user-select', function (e, dt, type, cell, originalEvent) {
        //    var row = dt.row(cell.index().row);

        //    if (row.data().canSendToApproval == false) {
        //        e.preventDefault();
        //    }
        //});

        //$('.dt-checkboxes-select-all').on('click', function () {
        //    var selectedRows = lectureApprovalTbl.rows(function (idx, data, node) {
        //        return $(node).find('input[type="checkbox"]:not(:disabled)').length
        //    }).data();

        //    if (selectedRows.length != 0) {
        //        for (var i = 0; i < selectedRows.length; i++) {
        //            selectedCLRecordsList.push(selectedRows[i].CLId);
        //        }
        //        $('.select-item').html("xxxxxxxxxxxxxxxx");
        //    }
        //    else {

        //    }
        //    //selectedCLRecordsList.push($('#dataTables').find('input[type="checkbox"]:enabled').)
        //    //$('span.select-info').children().first().html('1 rows selected');
        //});

        function OpenTimetableComparisonForm(data) {
            $("#subjectLabel").html("");
            $("#lectureTypeLabel").html("");

            $("#actualLectureDateLabel").html("");
            $("#actualStartTimeLabel").html("");
            $("#actualEndTimeLabel").html("");
            $("#actualLocationLabel").html("");
            $("#actualStudentBatchesLabel").html("");
            $("#studentCountLabel").html("");
            $("#studentAttendanceSheetDiv").html("");
            $("#campusLabel").html("");
            $("#commentLabel").html("");
            $("#currentStageLabel").html("");
            $("#approvalRejectionRemarkLabel").html("");

            $("#timetableLectureDateLabel").html("");
            $("#timetableStartTimeLabel").html("");
            $("#timetableEndTimeLabel").html("");
            $("#timetableLocationLabel").html("");
            $("#timetableLectureTypeLabel").html("");
            $("#timetableStudentBatchesLabel").html("");

            $("#actualLectureDateLabel").html(data.ActualLectureDate);
            $("#actualStartTimeLabel").html(data.ActualFromTime);
            $("#actualEndTimeLabel").html(data.ActualToTime);
            $("#actualLocationLabel").html(data.ActualLocation);
            $("#actualStudentBatchesLabel").html(data.StudentBatches);
            $("#studentCountLabel").html(data.StudentCount);

            if (data.StudentAttendanceSheetLocation != null) {
                $("#studentAttendanceSheetDiv").html(`<a href="javascript:viewAttendanceSheet('` + data.StudentAttendanceSheetLocation + `')">View</a>`)
            }
            else {
                $("#studentAttendanceSheetDiv").html("N/A");
            }

            $("#campusLabel").html(data.CampusName);

            if (data.Comment != null) {
                $("#commentLabel").html(data.Comment);
            }
            else {
                $("#commentLabel").html("N/A");
            }

            $("#currentStageLabel").html(data.CurrentStageDisplayName);

            if (data.ApprovedOrRejectedRemark != null) {
                $("#approvalRejectionRemarkLabel").html(data.ApprovedOrRejectedRemark);
            }
            else {
                $("#approvalRejectionRemarkLabel").html("N/A");
            }

            $("#subjectLabel").html(data.timetableRecords.SubjectName);
            $("#lectureTypeLabel").html(data.timetableRecords.LectureTypeName);
            $("#timetableLectureDateLabel").html(data.timetableRecords.LectureDate);
            $("#timetableStartTimeLabel").html(data.timetableRecords.FromTime);
            $("#timetableEndTimeLabel").html(data.timetableRecords.ToTime);
            $("#timetableLocationLabel").html(data.timetableRecords.Location);
            $("#timetableStudentBatchesLabel").html(data.timetableRecords.StudentBatches);

            $("#lectureTimetableModal").modal("show");
        }

        function OpenStudentAttendanceSheet(data) {
            window.open(data);
        }

        function viewAttendanceSheet(data) {
            window.open(data);
        }

        //lectureApprovalTbl.on('select', function (e, dt, type, indexes) {
        //    if (type === 'row') {
        //        var data = lectureApprovalTbl.rows(indexes).data().pluck('CLId');
        //        alert(data.CLId);
        //        // do something with the ID of the selected items
        //    }
        //});

        function onSendToApprovalClick() {
            selectedCLRecordsList = [];
            var allselectedRows = lectureApprovalTbl.rows('.selected').data();

            if (allselectedRows.length != 0) {
                var allSRList = [];
                var enabledSRList = [];

                for (var i = 0; i < allselectedRows.length; i++) {
                    allSRList.push(allselectedRows[i].CLId);
                }

                var selectedRows = lectureApprovalTbl.rows(function (idx, data, node) {
                    return $(node).find('input[type="checkbox"]:enabled').length
                }).data();

                for (var i = 0; i < selectedRows.length; i++) {
                    enabledSRList.push(selectedRows[i].CLId);
                }

                for (var i = 0; i < enabledSRList.length; i++) {
                    if (allSRList.indexOf(enabledSRList[i]) > -1) {
                        selectedCLRecordsList.push(enabledSRList[i]);
                    }
                }
            }

            if (selectedCLRecordsList.length != 0) {
                $("#sendToApprovalModal").modal("show");
            }
            else {
                alert("You must choose one or more lecture records before sending to approval");
            }
        }

        function SendToApprovalConfirm() {
            //alert(selectedCLRecordsList);
            $("#loader").show();

            var CLObj = {
                CLIdList: selectedCLRecordsList,
                Remark: $("#approvalRemark").val()
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("LecturerMonthlyRecordsApproval", "SA")',
                data: CLObj,
                success: function (data) {
                    $("#loader").hide();
                    if (data.success) {
                        $("#sendToApprovalModal").modal("hide");
                        lectureApprovalTbl.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                    else {
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "error"
                        })
                    }
                }
            });
        }

        function onRejectClick() {
            var allselectedRows = lectureApprovalTbl.rows('.selected').data();

            if (allselectedRows.length != 0) {
                var allSRList = [];
                var enabledSRList = [];

                for (var i = 0; i < allselectedRows.length; i++) {
                    allSRList.push(allselectedRows[i].CLId);
                }

                var selectedRows = lectureApprovalTbl.rows(function (idx, data, node) {
                    return $(node).find('input[type="checkbox"]:enabled').length
                }).data();

                for (var i = 0; i < selectedRows.length; i++) {
                    enabledSRList.push(selectedRows[i].CLId);
                }

                for (var i = 0; i < enabledSRList.length; i++) {
                    if (allSRList.indexOf(enabledSRList[i]) > -1) {
                        selectedCLRecordsList.push(enabledSRList[i]);
                    }
                }
            }

            if (selectedCLRecordsList.length != 0) {
                $("#rejectLecturesModal").modal("show");
            }
            else {
                alert("You must choose one or more lecture records for rejection");
            }
        }

        function RejectLecturesConfirm() {
            //alert(selectedCLRecordsList);
            $("#loader").show();

            var CLObj = {
                LecturerId: lecturerId,
                CLIdList: selectedCLRecordsList,
                Remark: $("#rejectionRemark").val()
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("LecturerMonthlyRecordsRejection", "SA")',
                data: CLObj,
                success: function (data) {
                    $("#loader").hide();
                    if (data.success) {
                        $("#rejectLecturesModal").modal("hide");
                        lectureApprovalTbl.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        });

                        $.ajax({
                            type: "GET",
                            url: '@Url.Action("SendLectureRejectionEmail", "SA")',
                            success: function (data) {

                            }
                        })
                    }
                    else {
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "error"
                        })
                    }
                }
            });
        }
</script>
}