@*Developed By:- Ranga Athapaththu
Developed On:- 2022/08/19*@

@{
    ViewBag.Title = "ManageDepartments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2 mb-0">
    <div class="col-12">
        <ol class="breadcrumb ml-2 mr-2 pt-2 pb-0 mb-2">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "SA")">Home</a></li>
            <li class="breadcrumb-item active">Manage Departments</li>
        </ol>
    </div>
</div>
<hr class="ml-2 mr-2 mt-0 mb-2" />
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Manage Departments</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Departments</h6>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-outline-success btn-sm mb-3" onclick="NavigateDepartmentsForm('@Url.Action("AddOrEditDepartment", "SA")', 'Add')"><i class="fa fa-plus"></i> Add New</button>
            <div class="table-responsive">
                <table id="departmentTbl" class="table table-bordered data-table nowrap"></table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var departmentTbl;

        departmentTbl = $("#departmentTbl").DataTable({
            "responsive": true,
            "scrollY": "30vh",
            "scroller": true,
            "order": [],
            "ajax": {
                "url": "@Url.Action("GetDepartments", "SA")",
                "type": "GET",
                "dataType": "json"
            },
            "columns": [
                {
                    "title": "",
                    "data": "DepartmentId",
                    "render": function (data) {
                        return `<div class='dropdown dropright'>`
                                + `<a class='btn btn-sm' href='#' role='button' id='dropdownMenuLink' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>`
                                + `<i class='fa fa-ellipsis-v' aria-hidden='true'></i></a>`
                                + `<div class='dropdown-menu' aria-labelledby='dropdownMenuLink'>`
                                + `<a class='dropdown-item btn' onclick="NavigateDepartmentsForm('@Url.Action("AddOrEditDepartment", "SA")/` + data + `', 'View')">View Department</a>`
                                + `<a class='dropdown-item btn' onclick="NavigateDepartmentsForm('@Url.Action("AddOrEditDepartment", "SA")/` + data + `', 'Edit')">Edit Department</a></div></div>`
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "20px"
                },
                {
                    "title": "Code",
                    "data": "DepartmentCode"
                },
                {
                    "title": "Name",
                    "data": "DepartmentName"
                },
                {
                    "title": "HOD",
                    "data": "HODName",
                    "render": function (data) {
                        if (data == null) {
                            return "N/A";
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "title": "Faculty",
                    "data": "FacultyName",
                    "render": function (data) {
                        if (data == null) {
                            return "N/A";
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "title": "Status",
                    "data": "IsActive",
                    "render": function (data) {
                        if (data == true) {
                            return 'Active';
                        }
                        else {
                            return 'Inactive';
                        }
                    }
                }
            ],
            "language": {
                "emptyTable": "No Departments Found!"
            }
        })

        function NavigateDepartmentsForm(url, action) {
            if (action == "Add") {
                window.location.href = url;
            }
            else if (action == "Edit") {
                window.location.href = url + "/Edit";
            }
            else {
                window.location.href = url + "/View";
            }
        }
    </script>
}