@*Developed By:- Dulanjalee Wickremasinghe
    Developed On:- 2022/08/31*@

@{
    ViewBag.Title = "ManagePaymentRate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2 mb-0">
    <div class="col-12">
        <ol class="breadcrumb ml-2 mr-2 pt-2 pb-0 mb-2">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "SA")">Home</a></li>
            <li class="breadcrumb-item active">Manage Payment Rate</li>
        </ol>
    </div>
</div>
<hr class="ml-2 mr-2 mt-0 mb-2" />
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Manage Payment Rate</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Payment Rate</h6>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-outline-success btn-sm mb-3" onclick="NavigatePaymentRateForm('@Url.Action("AddOrEditPaymentRate", "SA")', 'Add')"><i class="fa fa-plus"></i> Add New</button>
            <button type="button" class="btn btn-sm btn-outline-primary float-right"><i class="fa fa-arrow-right"></i> Send To Approval</button>
            <div class="table-responsive">
                <table id="paymentRateTbl" class="table table-bordered data-table nowrap"></table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var paymentRateTbl;

        paymentRateTbl = $("#paymentRateTbl").DataTable({
            "scrollY": "30vh",
            "scroller": true,
            "order": [],
            "ajax": {
                "url": "@Url.Action("GetPaymentRate", "SA")",
                "type": "GET",
                "dataType": "json"
            },
            "columns": [
                {
                    "data": null,
                    "defaultContent": ''
                },
                {
                    "title": "",
                    "data": "Id",
                    "render": function (data) {
                        return `<div class='dropdown dropright'>`
                                + `<a class='btn btn-sm' href='#' role='button' id='dropdownMenuLink' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>`
                                + `<i class='fa fa-ellipsis-v' aria-hidden='true'></i></a>`
                                + `<div class='dropdown-menu' aria-labelledby='dropdownMenuLink'>`
                            + `<a class='dropdown-item btn' onclick="NavigatePaymentRateForm('@Url.Action("AddOrEditPaymentRate", "SA")/` + data + `', 'View')">View Payment Rate</a>`
                            + `<a class='dropdown-item btn' onclick="NavigatePaymentRateForm('@Url.Action("AddOrEditPaymentRate", "SA")/` + data + `', 'Edit')">Edit Payment Rate</a></div></div>`
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "20px"
                },
                {
                    "title": "Designation",
                    "data": "DesignationName",
                    "render": function (data) {
                        if (data == null) {
                            return "N/A";
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "title": "Faculty",
                    "data": "FacultyName",
                    "render": function (data) {
                        if (data == null) {
                            return "N/A";
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "title": "Degree",
                    "data": "DegreeName",
                    "render": function (data) {
                        if (data == null) {
                            return "N/A";
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "title": "Specialization",
                    "data": "SpecializationName",
                    "render": function (data) {
                        if (data == null) {
                            return "N/A";
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "title": "Subject",
                    "data": "SubjectName",
                    "render": function (data) {
                        if (data == null) {
                            return "N/A";
                        }
                        else {
                            return data;
                        }
                    }
                },
                {
                    "title": "Approval Status",
                    "data": "IsApproved",
                    "render": function (data) {
                        if (data == true) {
                            return 'Approved';
                        }
                        else {
                            return 'Not Approved';
                        }
                    }
                },
                {
                    "title": "Status",
                    "data": "IsActive",
                    "render": function (data) {
                        if (data == true) {
                            return 'Active';
                        }
                        else {
                            return 'Inactive';
                        }
                    }
                }
            ],
            "columnDefs": [
                {
                    "orderable": false,
                    "className": 'select-checkbox',
                    "targets": 0,
                }
            ],
            "select": {
                "style": 'multi',
                "selector": 'td:first-child'
            },
            "language": {
                "emptyTable": "No Payment Rates Found!"
            }
        })

        function NavigatePaymentRateForm(url, action) {
            if (action == "Add") {
                window.location.href = url;
            }
            else if (action == "Edit") {
                window.location.href = url + "/Edit";
            }
            else {
                window.location.href = url + "/View";
            }
        }
    </script>
}




