@*Developed By:- Ranga Athapaththu
Developed On:- 2022/08/16*@

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon">
            <img src="~/Content/Images/SLIIT_Logo_Crest.png" height="50" alt="" />
        </div>
        <div class="sidebar-brand-text mx-3">PMS</div>
    </a>

    <hr class="sidebar-divider my-0" />

    <li class="nav-item active" id="dashboard-nav-item">
        <a class="nav-link" href="@Url.Action("Index", "SA")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <hr class="sidebar-divider" />

    <div class="sidebar-heading">
        Master Data
    </div>

    <li class="nav-item" id="masterData-nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMasterData" aria-expanded="true" aria-controls="collapseMasterData">
            <i class="fas fa-fw fa-cog"></i>
            <span>Master Data</span>
        </a>
        <div id="collapseMasterData" class="collapse" aria-labelledby="headingMasterData" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Institutional Details:</h6>
                <a class="collapse-item" href="@Url.Action("ManageInstitutes", "SA")">Institutes</a>
                <a class="collapse-item" href="@Url.Action("ManageCampuses", "SA")">Campuses</a>
                <a class="collapse-item" href="@Url.Action("ManageFaculties", "SA")">Faculties</a>
                <a class="collapse-item" href="@Url.Action("ManageDepartments", "SA")">Departments</a>
                <a class="collapse-item" href="@Url.Action("ManageLectureHalls", "SA")">Lecture Halls</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Master Data:</h6>
                <a class="collapse-item" href="@Url.Action("ManageUserTitles", "SA")">User Titles</a>
                <a class="collapse-item" href="@Url.Action("ManageCalendarPeriods", "SA")">Calendar Periods</a>
                <a class="collapse-item" href="@Url.Action("ManageAppointmentTypes", "SA")">Appointment Types</a>
                <a class="collapse-item" href="@Url.Action("ManageLectureTypes", "SA")">Lecture Types</a>
                <a class="collapse-item" href="@Url.Action("ManageConfigurationalSettings", "SA")">Configurations</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider" />

    <div class="sidebar-heading">
        Academic Details
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDegreeDetails" aria-expanded="true" aria-controls="collapseDegreeDetails">
            <i class="fas fa-fw fa-graduation-cap"></i>
            <span>Degree Details</span>
        </a>
        <div id="collapseDegreeDetails" class="collapse" aria-labelledby="headingDegreeDetails" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Degree Details:</h6>
                <a class="collapse-item" href="@Url.Action("ManageDegree", "SA")">Degrees</a>
                <a class="collapse-item" href="@Url.Action("ManageSpecialization", "SA")">Specializations</a>
                <a class="collapse-item" href="@Url.Action("ManageSubject", "SA")">Subjects</a>
                <a class="collapse-item" href="#">Student Batches</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSemesterDetails" aria-expanded="true" aria-controls="collapseSemesterDetails">
            <i class="fas fa-fw fa-calendar-alt"></i>
            <span>Semester Details</span>
        </a>
        <div id="collapseSemesterDetails" class="collapse" aria-labelledby="headingSemesterDetails" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Semester Details:</h6>
                <a class="collapse-item" href="#">Semester Registrations</a>
                <a class="collapse-item" href="#">Semester Subjects</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider" />

    <div class="sidebar-heading">
        PMS Functions
    </div>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-money-check-alt"></i>
            <span>Payment Rates</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-briefcase"></i>
            <span>Lecturer Appointments</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-chalkboard-teacher"></i>
            <span>Conducted Lectures</span>
        </a>
    </li>

    <hr class="sidebar-divider d-none d-md-block" />

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>

